<section class="product__container">
    <div class="product-image__container">
        <img src="/site-esboco/src/assets/monitor-1.jpg" alt="IMAGEM">
    </div>
    <div class="product-description__container">
        <h2 class="product__name"> Teste de descrição </h2>
        <h2 class="product__price"> Teste de preco </h2>
        <p class="product__disponibility"> Estoque disponivel</p>
        <label> 
            quantidade
            <input type="number">
            unidade (s)
        </label>
        <p class="product__avaiability">
            10 unidade (s) em Estoque
        </p>
        <button> Adicionar ao carrinho </button>
    </div>
</section>