<header class="main-header"><!-- Cabeçalho principal do site -->

    <h1 class="main-header__title">  <!-- Título principal do cabeçalho -->
        <span>LOJA</span><span>TUDO</span> <!-- Texto do título dividido em duas partes -->
    </h1>

    <nav class="nav-menu"><!-- Menu de navegação do cabeçalho -->

        <ul class="menu-list"> <!-- Lista de itens do menu -->

            <li class="menu-item  produtos"> <!-- Item de menu "Produtos" -->
                <a class="menu-link fa-solid fa-tag" href=""> Produtos </a><!-- Link para a página de produtos -->
            </li>

           <!-- Link para a página do carrinho -->
            <li class="menu-item carrinho"> 
                <a routerLink="carrinho"><!-- Item de menu "Carrinho" --> 
                    <a class="menu-link fa-solid fa-cart-shopping">Carrinho - 0
                        <a class="badge-carrinho">{{carrinhoService.obtemCarrinho().length }} </a>
                    </a>
                </a>
            </li>

            <li class="menu-item contatos"><!-- Item de menu "Contatos" -->
                <a class="menu-link fa-solid fa-phone" href=""> Contatos </a><!-- Link para a página de contatos --> 
            </li>

            <li class="menu-item facebook"> <!-- Item de menu "Facebook" -->
                <a class="menu-link fa-brands fa-linkedin" href=""> LinkedIn </a><!-- Link para a página do Facebook -->
            </li>

            <li class="menu-item instagram"><!-- Item de menu "Instagram" -->
                <a class="menu-link fa-brands fa-instagram" href=""> Instagram </a><!-- Link para a página do Instagram -->
            </li>

            <li class="menu-item github"><!-- Item de menu "GitHub" -->
                <a class="menu-link fa-brands fa-github" href=""> GitHub</a><!-- Link para a página do GitHub -->
            </li>

        </ul>

    </nav>
    
    <form class="search-form" action=""><!-- Formulário de pesquisa -->
        <input class="search-input" type="text"><!-- Caixa de entrada para digitar a pesquisa -->
        <button class="search-button fa-solid fa-magnifying-glass"></button><!-- Botão de pesquisa -->
    </form>

</header>