/* Estilos para o cabeçalho principal */
.main-header {
    background-color: #333; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    display: flex; /* Exibe os elementos em linha */
    justify-content: space-between; /* Distribui o espaço entre os elementos */
    align-items: center; /* Alinha os itens verticalmente */
}

/* Estilos para o título principal */
.main-header__title {
    font-size: 24px; /* Tamanho da fonte */
    margin: 0; /* Remove as margens */
}

/* Estilos para a lista de menu */
.menu-list {
    list-style: none; /* Remove os marcadores de lista */
    margin: 0; /* Remove as margens */
    padding: 0; /* Remove o preenchimento */
    display: flex; /* Exibe os elementos em linha */
}

.menu-item-carrinho .menu-link {
    color: #fff; /* Cor do texto */
    text-decoration: none; /* Remove a decoração de texto padrão */
}

.menu-item-carrinho .menu-link:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}


/* Estilos para os itens de menu */
.menu-item {
    margin-right: 20px; /* Espaçamento entre os itens */
}

/* Estilos para os links do menu */
.menu-link {
    color: #fff; /* Cor do texto */
    text-decoration: none; /* Remove a decoração de texto padrão */
}

/* Estilos para o formulário de pesquisa */
.search-form {
    display: flex; /* Exibe os elementos em linha */
}

/* Estilos para a caixa de entrada de pesquisa */
.search-input {
    padding: 5px; /* Espaçamento interno */
}

/* Estilos para o botão de pesquisa */
.search-button {
    background-color: #444; /* Cor de fundo */
    border: none; /* Remove a borda */
    color: #fff; /* Cor do texto */
    padding: 5px 10px; /* Espaçamento interno */
    cursor: pointer; /* Altera o cursor ao passar por cima */
}
