<footer class="footer"><!-- Rodapé -->

    <div class="footer__container"><!-- Container do rodapé -->
        
        <section class="footer__section-about"> <!-- Seção "Sobre" -->

            <h2 class="footer__title">Sobre</h2> <!-- Título da seção "Sobre" -->
            <p class="footer__about-text"> <!-- Texto de descrição -->
                Site simplificado criado para portifolio, usando semantica de HTML, CSS e a base de estudos em ANGULAR
            </p>

        </section>

        <address class="footer__section-contact"><!-- Seção "Contato" -->
            

            <h2 class="footer__title">Contato</h2><!-- Título da seção "Contato" -->
            

            <ul class="footer__contact-list"> <!-- Lista de contatos -->
               

                <li class="footer__contact-item"><!-- Item de contato -->
                    <a class="footer__contact-icon fa-regular fa-envelope"></a><!-- Ícone de e-mail -->
                    <a class="footer__contact-link" href="email@example.com"> email#exemplo.com </a><!-- Link de e-mail -->
                </li>

                <li class="footer__contact-item"><!-- Item de contato -->
                    <a class="footer__contact-icon fa-solid fa-map-location"></a> <!-- Ícone de localização -->
                    <a class="footer__contact-link" href=""> Rua Imaginaria da paixão,200 - Brazil </a> <!-- Link de endereço -->
                </li>

                <li class="footer__contact-item"><!-- Item de contato -->
                    <a class="footer__contact-icon fa-solid fa-address-book"></a><!-- Ícone de telefone -->
                    <a class="footer__contact-link" href="">(00) 4002-8922</a><!-- Link de telefone -->
                </li>
            </ul>
        </address>
    </div>
    <div>
        &copy; TODOS OS DIREITOS RESERVADOS - 2024
    </div>
</footer>
